# Node modules
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist

# .env environment variable file
.env

# MacOS files
.DS_Store

# VS Code workspace settings
.vscode

# WebStorm
.idea